body {
    background: url("/img/crossword.png") repeat;
    padding-top: 50px;
    font-family: sans-serif;
}

footer {
    min-height: 100px;
    background-color: #4A235A;
    -moz-box-shadow:    0px 1px 12px 0px #2F2E2E;
    -webkit-box-shadow: 0px 1px 12px 0px #2F2E2E;
    box-shadow:         0px 1px 12px 0px #2F2E2E;
}

.navbar {
    border: 0px;
}

.navbar-inverse .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    color: #ffffff;
    background-color: #4A235A;
}

.navbar-inverse .navbar-brand:hover {
    background-color: #7D3C98;
}

.navbar-inverse .navbar-nav > li {
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    font-family: 'Ubuntu', sans-serif;
    color: #979A9A;
}

.navbar-nav {
    padding-right: 80px;
}

.navbar-shadow {
    -moz-box-shadow:    0px 2px 7px 0px #2F2E2E;
    -webkit-box-shadow: 0px 2px 7px 0px #2F2E2E;
    box-shadow:         0px 2px 7px 0px #2F2E2E;
}

.jumbotron {
    background: url(/img/search-section-background.jpg) no-repeat;
    padding-bottom: 100px;
    color: #ffffff;
    -moz-box-shadow:    0px 1px 12px 0px #2F2E2E;
    -webkit-box-shadow: 0px 1px 12px 0px #2F2E2E;
    box-shadow:         0px 1px 12px 0px #2F2E2E;
}

.title-jumbotron {
    font-family: 'Ubuntu', sans-serif;
}

.align-center {
    margin: auto;
}

.comic-grid {
    padding-bottom: 50px;
}

.footer-separator {
    height: 4px;
    background-color: #17202A;
}

.footer-content {
    background-color: #4A235A;
    padding: 20px 60px 20px 60px;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}