#contenedor{
    background-image: url(http://img9.uploadhouse.com/fileuploads/15106/1510695497e20abcff408a9fb57449b624af6d64.jpg);
    
}
footer{
    background:#141414;
    color:#fff;
}
img{
    width:75%;
    height: 75%;
    padding: 10%;
    padding-left: 20%;
}
aside{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding-top: 8%;
    text-align:center;
}
#cuadroTexto{
    font-size:85%;
    padding-left:3%;
    padding-right:3%;
    padding-bottom:3%;
    background:#141414;
}
#cuadroTexto2{
    font-size:85%;
    margin-top:3%;
    background:#141414;
}
#textoVenta{
    font-family:'Ubuntu', sans-serif;
    font-size:150%;
    text-align:center;
    color: white;
}
.cuadroCompradores{
    font-family:'Ubuntu', sans-serif;
    font-size:75%;
    text-align:left;
    padding-left:20%;
    
}
.cuadroCompradores a{
    padding-left:15%;
}
.cuadroCompradores .precio{
   
    padding-left:15%;
}

