<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 row">
            <div class="panel">
                <div class="panel-body row">
                    <div class="col-md-3">
                        <h1 class="text-purple">Mensajes</h1>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="text-info">pablo1991 <span class="label label-danger">Nuevo</span></p>
                            </li>
                            <li class="list-group-item">
                                <p class="text-info">naruto23</p>
                            </li>
                            <li class="list-group-item">
                                <p class="text-info">sHuRmAnO <span class="label label-danger">Nuevo</span></p>
                            </li>
                            <li class="list-group-item">
                                <p class="text-info">anonimououououss</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p><span class="text-info text-rigth">AdoptaUnAlien: </span> Hola, khbjhvjbsvckjbsdvcsjbc sjdc sjbc sdj csc skcnb dsbc asbnc </p>
                            </li>
                            <li class="list-group-item">
                                <p><span class="text-info text-left">pablo1991: </span> sdcjhvdl sdjcb wcjl sjbd cdjb dj d ih d j fjb jbdfbfd ihdbfdih </p>
                            </li>
                            <li class="list-group-item">
                                <p><span class="text-info text-left">pablo1991: </span> sdcjhvdl sdjcb wcjl sjbd cdjb dj d ih d j fjb jbdfbfd ihdbfdih </p>
                            </li>
                            <li class="list-group-item">
                                <p><span class="text-info text-left">pablo1991: </span> sdcjhvdl sdjcb wcjl sjbd cdjb dj d ih d j fjb jbdfbfd ihdbfdih </p>
                            </li>
                            <li class="list-group-item">
                                <p><span class="text-info text-rigth">AdoptaUnAlien: </span> Hola, khbjhvjbsvckjbsdvcsjbc sjdc sjbc sdj csc skcnb dsbc asbnc </p>
                            </li>
                            <li class="list-group-item">
                                <p><span class="text-info text-left">pablo1991: </span> sdcjhvdl sdjcb wcjl sjbd cdjb dj d ih d j fjb jbdfbfd ihdbfdih </p>
                            </li>
                            <li class="list-group-item">
                                <p><span class="text-info text-rigth">AdoptaUnAlien: </span> Hola, khbjhvjbsvckjbsdvcsjbc sjdc sjbc sdj csc skcnb dsbc asbnc </p>
                            </li>
                            <li class="list-group-item">
                                <p><span class="text-info text-left">pablo1991: </span> sdcjhvdl sdjcb wcjl sjbd cdjb dj d ih d j fjb jbdfbfd ihdbfdih </p>
                            </li>
                            <li class="list-group-item">
                                <p><span class="text-info text-left">pablo1991: </span> sdcjhvdl sdjcb wcjl sjbd cdjb dj d ih d j fjb jbdfbfd ihdbfdih </p>
                            </li>
                            <li class="list-group-item">
                                <p><span class="text-info text-rigth">AdoptaUnAlien: </span> Hola, khbjhvjbsvckjbsdvcsjbc sjdc sjbc sdj csc skcnb dsbc asbnc </p>
                            </li>
                            <li class="list-group-item">
                                <p><span class="text-info text-left">pablo1991: </span> sdcjhvdl sdjcb wcjl sjbd cdjb dj d ih d j fjb jbdfbfd ihdbfdih </p>
                            </li>
                            <li class="list-group-item">
                                <p><span class="text-info text-rigth">AdoptaUnAlien: </span> Hola, khbjhvjbsvckjbsdvcsjbc sjdc sjbc sdj csc skcnb dsbc asbnc </p>
                            </li>
                            <li class="list-group-item">
                                <p><span class="label label-danger">Nuevo</span><span class="text-info text-left"> pablo1991: </span> sdcjhvdl sdjcb wcjl sjbd cdjb dj d ih d j fjb jbdfbfd ihdbfdih </p>
                            </li>
                            <li class="list-group-item">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="text" class="form-control input" placeholder="Mensaje...">
                                        <button type="submit" class="btn btn-info">Enviar</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
