<!--Comic Search-->
    <div class="container-fluid jumbotron">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 align-center">
                <h1 class="title-jumbotron text-center">Wallacomic</h1>
                <h2 class="title-jumbotron text-center">Encuentra tu cómic</h2>
                <p class="text-center">Con Wallacomic podrás comprar aquel cómic que tanto tiempo llevas buscando o poner a la venta uno de tu propia colección.</p>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="text" class="form-control input-lg" placeholder="Título">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <!--/Comic Search-->
