<!--Comics Grid-->
    <div class="row comic-grid">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div *ngFor="let comic of comics" class="card">
                <div class="card-content">
                    <p>{{comic.titulo}}</p>
                    <p>{{comic.autor}}</p>
                    <p><a [routerLink]="['ComicDetail', {id: comic.id}]">Mostrar Anuncio</a></p>
                </div>
            </div>
        <div class="col-md-2"></div>
    </div>
    <!--/Comics Grid-->
