<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel">
            <div class="panel-body row">
                <div class="col-md-4" *ngIf="comic">
                    <img class="img-responsive img-card imgDetail" src="assets/img/{{comic.foto}}.jpg">
                </div>
                <div class="col-md-8" *ngIf="comic">
                    <h1 class="titleComic">{{comic.titulo}}</h1>
                    <br>
                    <h4>Autor: {{comic.autor}}</h4>
                    <h4>Dibujante: {{comic.dibujante}}</h4>
                    <br>
                    <p>{{comic.argumento}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<advertisements [id]='comicRef'></advertisements>
