<!-- Comments -->
<div *ngIf="showing" id="commentsTable" class="panel-body row">
  <div class="col-md-1"></div>
  <div class="col-md-10 row">
    <h3 id="commentsTitle" class="text-purple">Comentarios</h3>
    <hr>
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let comment of comments">
          <div id="commentItem" class="row">
            <div class="col-md-10">
              <p>
                <span class="text-info text-rigth">{{comment.user_give.nombre}}: </span>{{comment.comentario}}
              </p>
            </div>
            <div class="col-md-2">
              <i class="sComments fa fa-star{{comment.s1}}"
                aria-hidden="true"></i><i
                class="sComments fa fa-star{{comment.s2}}"
                aria-hidden="true"></i><i
                class="sComments fa fa-star{{comment.s3}}"
                aria-hidden="true"></i><i
                class="sComments fa fa-star{{comment.s4}}"
                aria-hidden="true"></i><i
                class="sComments fa fa-star{{comment.s5}}"
                aria-hidden="true"></i>
            </div>
          </div>
        </li>
      </ul>
      <!-- boton valorar y modal -->
      <div *ngIf="loginService.isLogged && (loginService.user.id != userId)" class="row">
        <div class="col-md-12" id="contVU">
          <button type="button" id="voteUser" class="btn" (click)="open(modalVotar)">Valorar usuario</button>
        </div>
        <ng-template id="valorarUsuario" #modalVotar let-c="close" let-d="dismiss">
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
            <h4 class="modal-title" id="myModalLabel">Valorar usuario</h4>
          </div>
          <div class="modal-body" id="configuracion">
            <form role="form" action="guardarValoracion" method="post">
              <div id="comment" class="form-group">
                <label for="comentario">Tu comentario:</label> <br>
                <textarea name="comentario" #comentario rows="5" cols="40"
                  placeholder="introduce un breve comentario"></textarea>
              </div>
              <div id="valueSystem" class="form-group">
                <div class="col-md-3">
                  <label for="valoracion">Valoración:</label>
                </div>
                <div class="col-md-4 evaluar">

                  <input type="radio" id="radioS1" class="inputRadio"
                    name="numEstrellas" [(ngModel)]="numEstrellas" [value]="5">
                  <!--
                                        -->
                  <label for="radioS1"><i class="sComments fa fa-star" aria-hidden="true"></i></label>
                  <!--
                                        -->
                  <input type="radio" id="radioS2" class="inputRadio"
                    name="numEstrellas" [(ngModel)]="numEstrellas" [value]="4">
                  <!--
                                        -->
                  <label for="radioS2"><i class="sComments fa fa-star" aria-hidden="true"></i></label>
                  <!--
                                        -->
                  <input type="radio" id="radioS3" class="inputRadio"
                    name="numEstrellas" [(ngModel)]="numEstrellas" [value]="3">
                  <!--
                                        -->
                  <label for="radioS3"><i class="sComments fa fa-star" aria-hidden="true"></i></label>
                  <!--
                                        -->
                  <input type="radio" id="radioS4" class="inputRadio"
                    name="numEstrellas" [(ngModel)]="numEstrellas" [value]="2">
                  <!--
                                        -->
                  <label for="radioS4"><i class="sComments fa fa-star" aria-hidden="true"></i></label>
                  <!--
                                        -->
                  <input type="radio" id="radioS5" class="inputRadio"
                    name="numEstrellas" [(ngModel)]="numEstrellas" [value]="1">
                  <!--
                                        -->
                  <label for="radioS5"><i class="sComments fa fa-star" aria-hidden="true"></i></label>
                </div>
                <div class="col-md-5"></div>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="d('Cross click')">Cancelar</button>
            <button type="submit" class="btn btn-success" id="botonGuardar" (click)="createComment(comentario.value); d('Cross click')">Enviar</button>
          </div>
        </ng-template>
      </div>
      <!--Fin modal y boton-->
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
