
<!--Nav-->
    <nav class="navbar navbar-inverse navbar-toggleable-md navbar-top fixed-top navbar-shadow bg-faded" role="navigation">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand navbar-left" [routerLink]="['index']">Wallacomic</a>
              <div *ngIf="!logeado" class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <button type="button" class="btn btn-primary navbar-btn" (click)="modalAcceso.open()">Acceder</button>
                      <button type="button" class="btn btn-success navbar-btn" (click)="open(modalRegistro)">Registrarse</button>
                  </ul>
              </div>
              <div *ngIf="logeado" class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AdoptaUnAlien <span class="badge">2</span><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a [routerLink]="['Perfil']">Perfil</a></li>
                          <li><a [routerLink]="['Mensajes']">Mensajes <span class="badge">2</span></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]="['Index']" (click)="clickLogout() "><span class="glyphicon glyphicon-off"></span> Salir</a></li>
                      </ul>
                    </li>
                    <li><img src="img/avatar.jpg" class="circular-avatar-menu" alt=""></li>
                </ul>
              </div>
    </nav>
    <!--/Nav-->

    <!-- Código popUp Registro -->
    <!--<ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>-->

    <ng-template #modalRegistro let-c="close" let-d="dismiss">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="myModalLabel">Registro en WallaComic</h4>
      </div>
      <div class="modal-body" id="registro">
        <form role="form">
            <div class="datosPersonales">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="campoNombre" placeholder="Introduce tu nombre">
                <label for="apellidos">Apellidos:</label>
                <input type="text" class="form-control" id="campoApellidos" placeholder="Introduce tus apellidos">
            </div>
            <div class="form-group">
                <label for="mail">Email:</label>
                <input type="mail" class="form-control" id="campoEmail" placeholder="Introduce tu Email">
            </div>
            <div class="form-group">
                <label for="usuario">Nombre usuario:</label>
                <input type="text" class="form-control" id="campoUsuario" placeholder="Introduce tu nombre de usuario">
            </div>
            <div class="form-group">
                <label for="contraseña">Contraseña:</label>
                <input type="password" class="form-control" id="campoContraseña" placeholder="Contraseña">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Acepto las condiciones de registro.
                </label>
            </div>
        </form>
      </div>
      <!-- footer del popUp, con los botones de creación y cerrar. -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" id="botonCrear">¡Regístrame!</button>
      </div>
    </ng-template>
    <!--<modal #modalRegistro>
      <modal-header class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
          <h4 class="modal-title" id="myModalLabel">Registro en WallaComic</h4>
      </modal-header>
      <modal-body id="registro" class="modal-body">
          <form role="form">
              <div class="datosPersonales">
                  <label for="nombre">Nombre:</label>
                  <input type="text" class="form-control" id="campoNombre" placeholder="Introduce tu nombre">
                  <label for="apellidos">Apellidos:</label>
                  <input type="text" class="form-control" id="campoApellidos" placeholder="Introduce tus apellidos">
              </div>
              <div class="form-group">
                  <label for="mail">Email:</label>
                  <input type="mail" class="form-control" id="campoEmail" placeholder="Introduce tu Email">
              </div>
              <div class="form-group">
                  <label for="usuario">Nombre usuario:</label>
                  <input type="text" class="form-control" id="campoUsuario" placeholder="Introduce tu nombre de usuario">
              </div>
              <div class="form-group">
                  <label for="contraseña">Contraseña:</label>
                  <input type="password" class="form-control" id="campoContraseña" placeholder="Contraseña">
              </div>
              <div class="checkbox">
                  <label>
                      <input type="checkbox"> Acepto las condiciones de registro.
                  </label>
              </div>

          </form>
      </modal-body>-->
      <!-- footer del popUp, con los botones de creación y cerrar. -->
      <!--<modal-footer class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" id="botonCrear">¡Regístrame!</button>
      </modal-footer>
    </modal>-->
    <!--/Codigo popUp Registro-->

    <!-- Código popUp Acceso -->
    <!--<modal #modalAcceso>
      <modal-header class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
          <h4 class="modal-title" id="myModalLabel">Accede a WallaComic</h4>
      </modal-header>
      <modal-body id="registro" class="modal-body">
          <form role="form">
              <div class="form-group">
                  <label for="usuario">Nombre usuario:</label>
                  <input #nombreAcceso type="text" class="form-control" id="campoUsuario" placeholder="Introduce tu nombre de usuario">
              </div>
              <div class="form-group">
                  <label for="contraseña">Contraseña:</label>
                  <input #contrAcceso type="password" class="form-control" id="campoContraseña" placeholder="Contraseña">
              </div>
          </form>
      </modal-body>-->
      <!-- footer del popUp, con los botones de creación y cerrar. -->
      <!--<modal-footer class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" id="botonCrear" (click)="clickLogin(nombreAcceso.value, contrAcceso.value) ">Acceder</button>
      </modal-footer>
    </modal>-->
    <!--/Codigo popUp Acceso-->
