body {
    background-image: url("../img/crossword.png");
    padding-top: 50px;
    font-family: 'Ubuntu', sans-serif;
}

footer {
    min-height: 100px;
    background-color: #17202A;
    -moz-box-shadow: 0px 1px 12px 0px #2F2E2E;
    -webkit-box-shadow: 0px 1px 12px 0px #2F2E2E;
    box-shadow: 0px 1px 12px 0px #2F2E2E;
}

.navbar {
    border: 0px;
    background-color: #4A235A;
}

.navbar-inverse .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    color: #ffffff;
    background-color: #4A235A;
}

.navbar-inverse .navbar-brand:hover {
    background-color: #7D3C98;
}

.navbar-inverse .navbar-nav > li {
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    font-family: 'Ubuntu', sans-serif;
    color: #979A9A;
}

.navbar-nav {
    padding-right: 80px;
}

.badge {
    background-color: #E74C3C;
}

.navbar-shadow {
    -moz-box-shadow: 0px 2px 7px 0px #2F2E2E;
    -webkit-box-shadow: 0px 2px 7px 0px #2F2E2E;
    box-shadow: 0px 2px 7px 0px #2F2E2E;
}

.jumbotron {
    background-image: url(../img/search-section-background.jpg);
    padding-bottom: 100px;
    color: #ffffff;
    -moz-box-shadow: 0px 1px 12px 0px #2F2E2E;
    -webkit-box-shadow: 0px 1px 12px 0px #2F2E2E;
    box-shadow: 0px 1px 12px 0px #2F2E2E;
}

.title-jumbotron {
    font-family: 'Ubuntu', sans-serif;
}

.align-center {
    margin: auto;
}

.comic-grid {
    padding-bottom: 50px;
}

.footer-separator {
    height: 4px;
    background-color: #4A235A;
}

.footer-content {
    padding: 20px 60px 20px 60px;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}

.panel {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.img-card {
    border-radius: 2px 2px 2px 2px;
    background-clip: padding-box;
    position: relative;
}

.text-purple {
    color: #4A235A;
}

.circular-avatar-menu {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.circular-avatar-perfil {
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

#name-perfil{
    margin-top: 60px;
}

#info-header{
    margin-top: 60px;
}

#stars{
    padding-left: 1.3em;
    padding-right: 0em;
    padding-top: 1.9em;
}

.glyphicon-star{
    color:#edc900;
    font-size: 150%;
}

.glyphicon-star-empty{
    color:#edc900;
    font-size: 150%;
}

#buttonComment{
    padding-top: 1.7em;
    padding-bottom: 1.7em;
}

#commentsTable{
    display:none;
}

.sComments{
    color:#edc900;
    font-size: 100%;
}

.linkUser{
    color: #31708f;
}

.linkUser:hover{
    color: #31708f;
}

/*animación valoración estrellas*/

#valueSystem{
    padding-bottom: 1em;
}

.inputRadio{
    display: none;
}

.evaluar {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label > span {
    opacity: 0.5;
}

label > span:hover,
label > span:hover ~ label > span {
    color:#edc900;
    opacity: 1;
}

.inputRadio:checked ~ label > span {
    color:#edc900;
    opacity: 1;
}

#comment{
    padding-left: 1em;
}