<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wallacomic</title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/cards.css">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
 
</head>

<body>

    <!--Nav-->
    <nav class="navbar navbar-inverse navbar-top navbar-fixed-top navbar-shadow" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-left" href="/home">Wallacomic</a>
            </div>
        </div>
    </nav>
    <!--/Nav-->

    <!--Content-->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="panel minHeight">
                	<div class="panel-body row">
                    	<div class="col-md-6">
                    		<h1>¡¡¡ Anuncio borrado correctamente !!!</h1>
							<form action="/usuario/{{user.id}}">
								<button type="submit" class="btn btn-success navbar-btn">Volver a mi perfil</button>
							</form>
                    	</div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    <!--/Content-->
    
    <!--Footer-->
    <footer>
        <div class="footer-separator"></div>
        <div class="footer-content">
            <p>WallaComic | Proyecto 'Desarrollo de Aplicaciones Web' · URJC 2016-2017</p>
            <p>Pablo Daganzo del Val · Carlos Sevilla Lozano · Jesús Amores Fernández-Caballero</p>
        </div>
    </footer>
    <!--/Footer-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>
