<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wallacomic</title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/cards.css">
</head>
<body>
<h1>¡¡¡ Comentario añadido correctamente !!!</h1>
<form action="/usuario/{{id}}">
	<button type="submit" class="btn btn-success navbar-btn">Volver</button>
</form>
</body>
</html>
